page 1

intro to local area
photos of local area
Video of local area

page 2

Description of property and local facilities external links
where relevant
One principal image of exterior
when hovered image should change 

page 3-6

show rooms that are to let
description of each room
picture of room
if room has ensuite when mouse hovers change image to ensuite

final page ( ooooooo page 7)

details of location
facility to print a map (how????????????)
email link to owners ()


 


